@font-face {
  font-family: "Harry Potter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Harry Potter Regular"), url("HARRP___.woff") format("woff");
}

html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-color: rgb(37, 37, 37);
  /* background-image: url("/public/wallpaper.jpg"); */

}

.App {
  text-align: center;
}

.App-logo {
  height: 30%;
  
}

.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/public/castle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}


.hiddenButton{
  height: 30%;
}



.vertical-center {
  margin: 0;
  position: absolute;
  top: 30%;
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  transform: rotate(-10deg);
}


.mischief {
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 20px;
  color: rgb(255, 254, 254);
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
  font-family: "Harry Potter Regular";
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.2);
}

.pointer {
  cursor: pointer;
}

.searchbox {
  border: none;
  border-radius: 20px;
  margin-top: 0;
  height: 40px;
  width: 200px;
  background-color: rgba(255, 235, 205, 0.158);
}

.title {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 20px;
  height: fit-content;
  width: 100vw;


}

.cardContainer {
  display: grid;
  width: 95vw;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 20px;
  margin-top: 20px;
  justify-items: center;
}

.card {
  height: 26em;
  max-width: 15em;
  padding: 20px;
  background-color: rgb(75, 98, 102);
  background-image: url("/public/cardBb.png");
  background-size: cover;
  border: 3px rgb(49, 48, 46) solid;
}

.cardB {
  height: 26em;
  padding: 20px;
  max-width: 15em;
  background-image: url("/public/cardBb.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px rgb(49, 48, 46) solid;
}

.details {
  display: flex;
  justify-content: center;
}

.detailsB {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding: 0;
}

.charInfo {
  margin: 4px;
  padding: 0px;
  font-weight: 530;
}

.portrait {
  height: 15em;
  border-radius: 40px;
  margin-bottom: 10px;
  border-image: linear-gradient(10deg, rgb(17, 13, 8), rgb(252, 216, 13)) 1;
}

.portrait:hover {
  border-image: linear-gradient(10deg, rgb(252, 216, 13), rgb(17, 13, 8)) 1;
}

.characterName {
  font-family: "Harry Potter Regular";
  font-size: 2em;
  padding: 0;
  margin: 20px;
  color: rgb(5, 5, 5);
  letter-spacing: 3px;
  width: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s alternate;
  }
}

@media (max-width: 480px) {
  .background-container {
    background-image: url("/public/castlecrop.jpg");
    background-size: cover;

  }
}