@font-face {
  font-family: "Harry Potter Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Harry Potter Regular"), url("HARRP___.woff") format("woff");
}

html,
body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background-image: url("/public/paper.jpg");
  background-color: black;
}

.App {
  text-align: center;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gif {
  margin: 0;
  width: 720px;
}

.intro {
  font-family: "Harry Potter Regular";
  font-size: 4em;
  color: rgb(51, 11, 4);
  margin: 20px;
  margin-top: 40px;
}

.mischief {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(143, 47, 34));
  color: rgb(248, 186, 17);
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
  font-family: "Harry Potter Regular";
  letter-spacing: 3px;
}

.pointer {
  cursor: pointer;
}

.searchbox {
  margin-top: 0;
  height: 40px;
  width: 200px;
  background-color: blanchedalmond;
}

.title {
  color: rgb(248, 186, 17);
  margin: 0;
  padding: 20px;
  height: fit-content;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(143, 47, 34));
  width: 100vw;
  border: 2px solid black;
}

.cardContainer {
  display: grid;
  width: 95vw;
  grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 20px;
  margin-top: 20px;
}

.card {
  height: 26em;
  padding: 20px;
  background-image: url("/public/cardBb.png");
  background-size: cover;
  border: 3px rgb(80, 47, 7) solid;
  
}

.cardB {
  height: 26em;
  padding: 20px;
  background-image: url("/public/cardBb.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px rgb(80, 47, 7) solid;
}

.details {
  display: flex;
  justify-content: center;
}

.detailsB {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding: 0;
}

.charInfo {
  margin: 4px;
  padding: 0px;
  font-weight: 530;
}

.portrait {
  height: 15em;
  border: 5px solid;
  margin-bottom: 10px;
  border-image: linear-gradient(10deg, rgb(17, 13, 8), rgb(252, 216, 13)) 1;
}

.portrait:hover {
  border-image: linear-gradient(10deg, rgb(252, 216, 13), rgb(17, 13, 8)) 1;
}

.characterName {
  font-family: "Harry Potter Regular";
  font-size: 2em;
  padding: 0;
  margin-top: 20px;
  color: rgb(5, 5, 5);
  letter-spacing: 3px;
  width: 80%;
}
